.modal-overlay {
    background: rgba(242, 243, 245, 0.8);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-container {
    background: var(--background);
    width: 100%;
    max-width: 1000px;
    padding: 2rem 3rem;
    border-radius: 5px;
    box-shadow: 0 0 60px rgba(0,0,0,0.05);
    text-align: center;
    position: relative;
    max-height: 90%;
    overflow: scroll;
}

.modal-container .close-button {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    background: transparent;
    border: 0;
    font-size: 0px;
}

.modal-container p {
    margin-bottom: 1rem;
}

.character-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5rem 0;
}

.character-modal-tabs {
    text-align: left;
}

.character-modal-tab {
    background: var(--background);
    border: none;
    padding: 1.5rem 1.5rem;
    transition: background-color ease-in-out 0.2s;
}

.character-modal-tab:hover {
    background: var(--white);
    opacity: 1;
}

.character-modal-tab.active {
    background: var(--white);
}

.character-appearance-li:first-child {
    margin-top: 0;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

@keyframes outAnimation {
    100% {
        opacity: 0;
    }
}

@media(max-width: 600px) {
    .modal-overlay {
        top: 64px;
    }
    .modal-container {
        max-height: unset;
        height: 100%;
        max-width: unset;
        position: absolute;
        left: 100%;
        animation: slide 0.5s forwards;
    }
    @keyframes slide {
        100% { left: 0; }
    }
}