.arrow {
    border: solid var(--text-labels);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.page-button {
    background: var(--button-not-active);
    height: 32px;
    width: 40px;
    margin-right: 1rem;
    border: 1px solid var(--background);
    border-radius: 5px;
}

.page-button:hover {
    opacity: 0.5;
}

.paginator-container {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 26px;
    margin-bottom: 32px;
}

.page-button.active {
    background: var(--button-active);
    color: var(--white);
}